Source: bugzilla
Section: web
Priority: optional
Maintainer: Tamer Saadeh <tamersaadeh@gmail.com>
Build-Depends: po-debconf, debhelper (>= 7.0.50), python-central (>= 0.5), quilt (>= 0.46-7~), fakeroot, gettext, dctrl-tools
Build-Depends-Indep: debconf (>= 0.9.95) | debconf-2.0
XS-Python-Version: all
Standards-Version: 3.9.2

Package: bugzilla4-min
Architecture: any
Section: web
Homepage: http://www.bugzilla.org
Depends: perl (>= 5.8.1),
         mysql-client,
         libdbd-mysql-perl (>= 4.001),
         libcgi-pm-perl (>= 3.51),
         libdigest-sha-perl,
         libtimedate-perl (>= 1.1600-9),
         libdatetime-perl,
         libdatetime-timezone-perl (>= 0.71-1),
         libdbi-perl (>= 1.41),
         libtemplate-perl (>= 2.22),
         libemail-send-perl (>= 2.000),
         libemail-mime-perl (>= 1.904),
         liburi-perl (>= 1.37),
         liblist-moreutils-perl (>= 0.22),
         libmath-random-isaac-perl (>= 1.0.1),
         cvs,
         patchutils,
         ${python:Depends},
         ${misc:Depends}
Suggests: bugzilla4-doc,
          bugzilla4-full,
          libnet-ldap-perl,
          libgd-text-perl,
          libgd-graph-perl,
          libgd-gd2-perl,
          libmailtools-perl (>= 1.77-1),
          libmime-tools-perl (>= 5.425-2),	
          libhtml-parser-perl,
          libhtml-scrubber-perl,
          libxml-twig-perl,
          libauthen-radius-perl,
          graphviz,
          libsoap-lite-perl (>= 0.712),
          libwww-perl,
          ruby,
          libjson-xs-perl (>= 2.0),
          libapache2-mod-perl2 (>= 1.999022),
          libchart-perl (>= 0.99c.pre3-0.1),
          libtemplate-plugin-gd-perl,
          libxml-parser-perl,
          perlmagick,
          mysql-server,
          imagemagick
Conflicts: bugzilla4-min, bugzilla4-full
Replaces: bugzilla4-min
XB-Python-Version: ${python:Versions}
Description: web-based bug tracking system
 Bugzilla is a Bug Tracking System accessible through a web interface,
 with which you can:
  * report bugs;
  * assign bugs to the appropriate developers;
  * prioritize bugs;
  * set bug dependencies;
  * arrange bugs by product and component.
  * It can also be used as a todo list manager.
 This package provides a web application that lets users make and look
 up bug reports. Interested users are automatically informed about
 changes to a bug's status.
 This is the minimalist approach, that is it will only install the minimum
 to be able to run Bugzilla. If you would like to use Bugzilla's extra features
 you should install bugzilla4-full instead.

Package: bugzilla4-full
Architecture: any
Section: web
Homepage: http://www.bugzilla.org
Depends: perl (>= 5.8.1),
         mysql-client,
         libdbd-mysql-perl (>= 4.001),
         libcgi-pm-perl (>= 3.51),
         libdigest-sha-perl,
         libtimedate-perl (>= 1.1600-9),
         libdatetime-perl,
         libdatetime-timezone-perl (>= 0.71-1),
         libdbi-perl (>= 1.41),
         libtemplate-perl (>= 2.22),
         libemail-send-perl (>= 2.000),
         libemail-mime-perl (>= 1.904),
         liburi-perl (>= 1.37),
         liblist-moreutils-perl (>= 0.22),
         libmath-random-isaac-perl (>= 1.0.1),
         libgd-gd2-perl,
         libchart-perl,
         libtemplate-plugin-gd-perl,
         libgd-text-perl,
         libgd-graph-perl,
         libmime-tools-perl (>= 5.406),
         libwww-perl,
         libxml-twig-perl,
         libnet-ldap-perl,
         libauthen-sasl-perl,
         libauthen-radius-perl,
         libsoap-lite-perl (>= 0.712),
         libjson-rpc-perl,
         libjson-xs-perl (>= 2.0),
         libtest-taint-perl,
         libhtml-parser-perl (>= 3.40),
         libhtml-scrubber-perl,
         libencode-detect-perl,
         libtheschwartz-perl,
         libdaemon-generic-perl,
         libapache2-mod-perl2 (>= 1.99902),
         cvs,
         patchutils,
         ${python:Depends},
         ${misc:Depends}
Suggests: bugzilla4-doc,
          graphviz,
          ruby,
          imagemagick,
          libxml-parser-perl,
          perlmagick
Recommends: mysql-server
Conflicts: bugzilla4-full, bugzilla4-min
Replaces: bugzilla4-full
XB-Python-Version: ${python:Versions}
Description: web-based bug tracking system
 Bugzilla is a Bug Tracking System accessible through a web interface,
 with which you can:
  * report bugs;
  * assign bugs to the appropriate developers;
  * prioritize bugs;
  * set bug dependencies;
  * arrange bugs by product and component.
  * It can also be used as a todo list manager.
 This package provides a web application that lets users make and look
 up bug reports. Interested users are automatically informed about
 changes to a bug's status.
 This package will install Bugzilla with all of its extra features.

Package: bugzilla4-doc
Section: doc
Architecture: all
Suggests: bugzilla4-min, bugzilla4-full
Depends: ${misc:Depends}
Homepage: http://www.bugzilla.org
XB-Python-Version: ${python:Versions}
Description: comprehensive guide to Bugzilla
 The Bugzilla Guide is a document (in ASCII text, HTML, and SGML format)
 discussing Bugzilla administration, maintenance, and use.

